DB_HOST=localhost
DB_PORT=5432
DB_NAME=mtit_db
DB_USERNAME=postgres
DB_PASSWORD=postgres
JWT_SECRET=dGhpcyBpcyBhIHZlcnkgbG9uZyBzZWNyZXQga2V5IGZvciBqd3QgdG9rZW4gZ2VuZXJhdGlvbiB0aGF0IGlzIGF0IGxlYXN0IDI1NiBiaXRz
JWT_EXPIRATION=86400000
